a {
    text-decoration: none; /* Menghapus dekorasi pada tautan */
  }
  
  h1 {
    text-decoration: underline; /* Menambahkan garis bawah pada judul */
  }
  
  p {
    text-decoration: line-through; /* Menambahkan garis melintang pada paragraf */
  }
  